<div class="container">
  <div class="screen">
    <div class="screen__content">
      <form class="login">
        <div class="login__field">
          <input
            type="text"
            name="Username"
            [(ngModel)]="logincredentials.login"
            class="login__input"
            placeholder="Username"
          />
        </div>
        <div class="login__field">
          <input
            type="password"
            name="Password"
            [(ngModel)]="logincredentials.password"
            class="login__input"
            placeholder="Password"
          />
        </div>
        <button class="button login__submit" (click)="onSignin()">
          <span>Sign in</span>
        </button>
      </form>
      <div class="social-login">
        <span class="social-login__text">New here?</span>
        <a class="social-login__link" [routerLink]="['/register']">
          Register now
        </a>
      </div>
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>
